[submodule "vim/.vim/bundle/vundle"]
	path = vim/.vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git

[submodule "emacs/git/git-load"]
    path = emacs/git/git-load
    url = https://github.com/K0HAX/git-load.git
