bbdb
bookmarks
*.html
*.pdf
*.tex
*.elc
tramp

emacs-secrets.el
recentf
places
config.el
elpa
elpa/*
el-get
el-get/*
smex-items
auto-save-list
auto-save-list/*
newsticker
newsticker/*
_minted-config
url
url/*
git/*
emms
emms/*
private/mediawiki.el
.org-id-locations
*.bak
*~
