bbdb
bookmarks
*.html
*.pdf
*.tex
tramp

emacs-secrets.el
recentf
places
config.el
elpa
elpa/*
smex-items
auto-save-list
auto-save-list/*
newsticker
newsticker/*
_minted-config
url
url/*
emms
emms/*
private/mediawiki.el
*.bak
*~

